/* src/styles/reset.css */
@import "https://use.fontawesome.com/releases/v6.5.1/css/all.css";
@import '_variables';

body {
    background-color: $light-white;
}
html, body, div, input, fieldset, form, h1, p, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
textarea {
    border: none;
    resize: none;
}
li {
    list-style: none;
}